#container {
	position: relative;
	width: 620px;
	height: 720px;
	border-left: 1px solid #D6D6D6;
	overflow: hidden;
}

#timeline {
	position: relative;
	top: -30px;
	height: 720px;
	padding-right: 10px;
}

#timeline li {
	text-align: right;
	line-height: 30px;
	list-style-type: none;
	height: 30px;
	color: #6a6a6a;
	font-family: Sans-Serif;
	text-transform: uppercase;
}

#timeline li span {
	font-size: 9px;
	color: grey;
}

.event {
	background-color: white;
	position: absolute;
	overflow: hidden;
	box-sizing: border-box;
	border: 1px solid #D6D6D6;
}

.event h2 {
	margin: 0;
	font-size: 13px;
}

.event h3 {
	margin: 0;
	font-size: 10px;
}

/* separate element for blue bar for sharp 90 degree border edge */
.bluebar {
	border-left: 4px solid #4B6EA9;
	position: absolute;
}

/** 
* some "atomic" styles 
* http://www.smashingmagazine.com/2013/10/21/challenging-css-best-practices-atomic-approach/
*/
.Bc-grey {
	background-color: #ECECEC;
}
.F-l {
	float: left;
}
.Mpx-5 {
	margin: 5px;
}
.C-blue {
	color: #91A5C8;
}
.C-grey {
	color: grey;
}
.Fw-500 {
	font-weight: 500;
}
.sans {
	font-family: Sans-Serif;
}

